.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.cart-header {
  font-size: large;
  padding-left: 26rem;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid rgb(230, 223, 223);
  border-radius: 30px;
  padding: 10px;
}

.cart-details {
  border-bottom: 2px solid rgb(224, 220, 220);
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  width: 34rem;
  height: 7rem;
}

.cart-img img {
  width: 40px;
  height: auto;
  padding-right: 20px;
}

.product-name-price {
  flex: 1;
  margin-left: 10px;
}

.product-name{
  margin: 0px;
}

.product-price{
  margin: 0px;
  margin-top: 5px;
}
.product-quantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete-btn {
  display: flex;
  justify-content: end;
  padding-right: 2px;
  cursor: pointer;
}

.add-or-delete-item {
  display: flex;
  align-items: center;
  gap: 2px;

  .decrement-btn, .increment-btn {
    cursor: pointer;
  }
}

.cart-input{
  width: 20px;
  padding-left: 8px;
  border-radius: 5px;
}

.order-summary {
  margin: 0px;
  margin-bottom: 20px;
}

.subtotal, .discount, .fee{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}

.final-total{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
}

.cart-divider{
  border-bottom: 1px solid rgb(183, 178, 178);
  width: 30rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkout button{
  width: 100%;
  margin-top: 15px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(115, 106, 110);
}