.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    width: 20%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .product-subheading{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  .product img {
    width: 80%;
    height: 50%;
    object-fit: contain;
    aspect-ratio: 3/2;
  }
  .product h3 {
    font-size: 16px;
    margin: 10px 0;
  }
  .product p {
    font-size: 14px;
    font-weight: bold;
  }