.hero-container {
    position: relative;
    margin-bottom: 30px;
  }
  
  .hero-img {
    position: relative;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1;
    color: black;
    font-size: 34px;
    font-weight: 900;
  }
  
  .hero-img img {
    width: 86%;
    height: auto;
    margin-left: 7%;
  }